@model IEnumerable<ContosoAutoOpsWeb.Models.Product>

@{
    ViewData["Title"] = "ContosoAuto - Products";
}

<div class="row">
    <div class="col-md-12">
        <h2>Products</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductNumber)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SafetyStockLevel)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReorderPoint)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StandardCost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ListPrice)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SafetyStockLevel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ReorderPoint)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StandardCost)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ListPrice)
                        </td>
                        <td>
                            <a asp-action="ProductDetails" asp-route-id="@item.ProductID">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>