@model ContosoAutoOpsWeb.Models.Product

@{
    ViewData["Title"] = "ProductDetails";
}

<h2>Product Details</h2>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MakeFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MakeFlag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinishedGoodsFlag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinishedGoodsFlag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SafetyStockLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SafetyStockLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReorderPoint)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReorderPoint)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StandardCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StandardCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ListPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ListPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SizeUnitMeasureCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SizeUnitMeasureCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WeightUnitMeasureCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WeightUnitMeasureCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DaysToManufacture)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DaysToManufacture)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductLine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductLine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Style)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Style)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductSubcategoryID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductSubcategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductModelID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductModelID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellEndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellEndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiscontinuedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiscontinuedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rowguid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rowguid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>